<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>QGen</title>

<!-- Fav Icon -->
<link rel="icon" href="{{ url_for('static', filename='images/favicon-2.ico') }}" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="{{ url_for('static', filename='css/font-awesome-all.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/flaticon.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/owl.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/nice-select.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/elpath.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/color.css') }}" id="jssDefault" rel="stylesheet">
<link href="{{ url_for('static', filename='css/rtl.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/module-css/page-title.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/module-css/contact.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/module-css/cta.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">

</head>

<body>

    <div class="boxed_wrapper ltr">

        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">close</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="a" class="letters-loading">
                                Q
                            </span>
                            <span data-text-preloader="r" class="letters-loading">
                                G
                            </span>
                            <span data-text-preloader="t" class="letters-loading">
                                e
                            </span>
                            <span data-text-preloader="i" class="letters-loading">
                                n
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->

        <!-- page-direction -->
        <div class="page_direction">
            <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
            <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
        </div>
        <!-- page-direction end -->

        <!-- main header -->
        <header class="main-header header-style-two">
            <div class="header-lower">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo2"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo-3.png') }}" alt=""></a>
                            <h2>QGen</h2>
                        </figure>
                        </div>
                        <div class="menu-area">
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light clearfix">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown"><a href="{{ url_for('index') }}">Home</a></li>
                                        <li><a href="{{ url_for('about') }}">About</a></li>
                                        <li class="dropdown"><a href="{{ url_for('index') }}">Pages</a>
                                            <ul>
                                                <li><a href="{{ url_for('service') }}">Our Services</a></li>
                                                <li><a href="{{ url_for('faq') }}">FAQ's</a></li>
                                                <li><a href="{{ url_for('team') }}">Our Team</a></li>
                                                <li><a href="{{ url_for('error') }}">404</a></li>
                                            </ul>
                                        </li>
                                        <li class="current"><a href="{{ url_for('contact') }}">Contact Us</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-right-content">
                            <a href="{{ url_for('login') }}" class="login-btn mr_35">Login</a>
                            <a href="{{ url_for('signup') }}" class="theme-btn btn-one"><span>Sign Up Free</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo2"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo-3.png') }}" alt=""></a>
                            <h2>QGen</h2>
                        </figure>
                        </div>
                        <div class="menu-area">
                            <nav class="main-menu clearfix">
                            </nav>
                        </div>
                        <div class="menu-right-content">
                            <a href="{{ url_for('login') }}" class="login-btn mr_35">Login</a>
                            <a href="{{ url_for('signup') }}" class="theme-btn btn-one"><span>Sign Up Free</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo-3.png') }}" alt="" title=""></a></div>
                <div class="menu-outer">
                </div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="{{ url_for('index') }}"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="{{ url_for('index') }}"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="{{ url_for('index') }}"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="{{ url_for('index') }}"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="{{ url_for('index') }}"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

        <!-- page-title -->
        <section class="page-title centred">
            <div class="auto-container">
                <div class="content-box">
                    <h1>Contact Us</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->

        <!-- contact-info-section -->
        <section class="contact-info-section centred pt_150 pb_120">
            <div class="auto-container">
                <div class="sec-title mb_60">
                    <span class="sub-title">Contact Info</span>
                    <h2>Our Contact Details</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 info-block">
                        <div class="info-block-one" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-40"></i></div>
                                <h3>Our Location</h3>
                                <p>EST Dakhla, Morocco</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 info-block">
                        <div class="info-block-one" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="900">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-41"></i></div>
                                <h3>Email Address</h3>
                                <p><a href="mailto:QGen@gmail.com">QGen@gmail.com</a><br /><a href="mailto:support@questiongen.com">support@questiongen.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 info-block">
                        <div class="info-block-one" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1100">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-42"></i></div>
                                <h3>Phone Number</h3>
                                <p>Emergency Cases <br /><a href="tel:2085550112">(+212) 555-123-4567</a> (24/7)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-info-section end -->

        <!-- contact-section -->
        <section class="contact-section p_relative pt_150 pb_150">
            <div class="auto-container">
                <div class="sec-title mb_60 centred">
                    <span class="sub-title">Contact Info</span>
                    <h2>Our Contact Details</h2>
                </div>
                <div class="form-inner">
                    <form method="post"  id="contact-form">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="username" placeholder="Your Name" required="">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="Your email" required="">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input type="text" name="subject" required="" placeholder="Your Phone">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <textarea name="message" placeholder="Type message"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn mr-0 centred">
                                <button class="theme-btn btn-one" type="submit" name="submit-form"><span>Send Message</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- contact-section end -->

        <!-- cta-style-two -->
        <section class="cta-style-two">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="shape" style="background-image: url('{{ url_for('static', filename='images/shape/shape-9.png') }}');"></div>
                    <div class="text-box">
                        <h2>Ready to take your content creation</h2>
                        <p>With our AI your the can makes the is never before seen images fores New Year any of copy.</p>
                    </div>
                    <div class="btn-box">
                        <a href="{{ url_for('index') }}" class="theme-btn btn-one"><span>Get Started</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-style-two end -->

        <!-- main-footer -->
        <footer class="main-footer style-two">
            <div class="auto-container">
                <div class="widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="logo"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo-3.png') }}" alt=""></a>
                                <h2>QGen</h2>
                                </figure>
                                <p>Our platform uses AI to generate high-quality educational questions from various content, enhancing learning through interactive quizzes, tests, and lessons.</p>
                                <ul class="social-links clearfix">
                                    <li><a href="{{ url_for('index') }}"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="{{ url_for('index') }}"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="{{ url_for('index') }}"><i class="fa-brands fa-linkedin"></i></a></li>
                                    <li><a href="{{ url_for('index') }}"><i class="fa-brands fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget ml_50">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="{{ url_for('about') }}">About Us</a></li>
                                        <li><a href="{{ url_for('service') }}">Services</a></li>
                                        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget ml_30">
                                <div class="widget-title">
                                    <h3>Usefull Links</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="{{ url_for('index') }}">Privacy Policy</a></li>
                                        <li><a href="{{ url_for('index') }}">Terms & Condition</a></li>
                                        <li><a href="{{ url_for('index') }}">Support</a></li>
                                        <li><a href="{{ url_for('index') }}">Disclaimer</a></li>
                                        <li><a href="{{ url_for('faq') }}">Faq</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact</h3>
                                </div>
                                <div class="widget-content">
                                    <p>Feel free to reach out for any inquiries or support.</p>
                                    <ul class="contact-info clearfix">
                                        <li>
                                            <i class="icon-28"></i>
                                            EST Dakhla, Morocco
                                        </li>
                                        <li>
                                            <i class="icon-29"></i>
                                            <a href="mailto:QGen@gmail.com">QGen@gmail.com</a>
                                        </li>
                                        <li>
                                            <i class="icon-30"></i>
                                            <a href="tel:+2125551234567">(+212) 555-123-4567</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom centred">
                <p>Copyright &copy; 2025 <a href="{{ url_for('index') }}">QGen</a>, Inc. All Rights Reserved</p>
            </div>
        </footer>
        <!-- main-footer end -->

        <!-- Scroll to top -->
        <div class="scroll-to-top">
            <div>
                <div class="scroll-top-inner">
                    <div class="scroll-bar">
                        <div class="bar-inner"></div>
                    </div>
                    <div class="scroll-bar-text">Go To Top</div>
                </div>
            </div>
        </div>
        <!-- Scroll to top end -->

    </div>

    <!-- jQuery plugins -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/appear.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>

    <!-- main-js -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
