<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Artiq - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="assets/images/favicon-2.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="assets/css/font-awesome-all.css" rel="stylesheet">
<link href="assets/css/flaticon.css" rel="stylesheet">
<link href="assets/css/owl.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="assets/css/animate.css" rel="stylesheet">
<link href="assets/css/aos.css" rel="stylesheet">
<link href="assets/css/nice-select.css" rel="stylesheet">
<link href="assets/css/elpath.css" rel="stylesheet">
<link href="assets/css/color.css" id="jssDefault" rel="stylesheet">
<link href="assets/css/rtl.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/module-css/page-title.css" rel="stylesheet">
<link href="assets/css/module-css/pricing.css" rel="stylesheet">
<link href="assets/css/module-css/cta.css" rel="stylesheet">
<link href="assets/css/module-css/faq.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper ltr">


        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">close</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="a" class="letters-loading">
                                a
                            </span>
                            <span data-text-preloader="r" class="letters-loading">
                                r
                            </span>
                            <span data-text-preloader="t" class="letters-loading">
                                t
                            </span>
                            <span data-text-preloader="i" class="letters-loading">
                                i
                            </span>
                            <span data-text-preloader="q" class="letters-loading">
                                q
                            </span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- preloader end -->


        <!-- page-direction -->
        <div class="page_direction">
            <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
            <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
        </div>
        <!-- page-direction end -->


        <!-- main header -->
        <header class="main-header header-style-two">
            <!-- header-lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="index.html"><img src="assets/images/logo-2.png" alt=""></a></figure>
                        </div>
                        <div class="menu-area">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light clearfix">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown"><a href="index.html">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home Image Generate</a></li>
                                                <li><a href="index-2.html">Home AI Writer</a></li>
                                                <li><a href="index-3.html">Home Text to Audio</a></li>
                                                <li><a href="index-4.html">Home Video Generator</a></li>
                                                <li><a href="index-5.html">Home Agency</a></li>
                                                <li><a href="index-6.html">Home Chatbot</a></li>
                                                <li><a href="index-7.html">Home Image Generator Light</a></li>
                                                <li><a href="index-8.html">Home AI News</a></li>
                                            </ul>
                                        </li> 
                                        <li><a href="about.html">About</a></li> 
                                        <li class="current dropdown"><a href="index.html">Pages</a>
                                            <ul>
                                                <li class="dropdown"><a href="index.html">Pricing</a>
                                                    <ul>
                                                        <li><a href="pricing.html">Pricing One</a></li>
                                                        <li><a href="pricing-2.html">Pricing Two</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="index.html">Shop</a>
                                                    <ul>
                                                        <li><a href="shop.html">Our Shop</a></li>
                                                        <li><a href="shop-details.html">Shop Details</a></li>
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="service.html">Our Services</a></li>
                                                <li><a href="faq.html">FAQ's</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="testimonial.html">Testimonial</a></li>
                                                <li><a href="error.html">404</a></li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown"><a href="index.html">News</a>
                                            <ul>
                                                <li><a href="blog.html">Blog Grid</a></li>
                                                <li><a href="blog-2.html">Blog Standard</a></li>
                                                <li><a href="blog-details.html">Blog Details One</a></li>
                                                <li><a href="blog-details-2.html">Blog Details Two</a></li>
                                            </ul>
                                        </li>  
                                        <li><a href="contact.html">Contact Us</a></li> 
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-right-content">
                            <a href="index.html" class="login-btn mr_35">Login</a>
                            <a href="index.html" class="theme-btn btn-one"><span>Sign Up Free</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="index.html"><img src="assets/images/logo-2.png" alt=""></a></figure>
                        </div>
                        <div class="menu-area">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <div class="menu-right-content">
                            <a href="index.html" class="login-btn mr_35">Login</a>
                            <a href="index.html" class="theme-btn btn-one"><span>Sign Up Free</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->


        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="assets/images/logo-3.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->


        <!-- page-title -->
        <section class="page-title centred">
            <div class="auto-container">
                <div class="content-box">
                    <h1>Our Pricing</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Pricing One</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- pricing-style-two -->
        <section class="pricing-style-two pricing-page-one pt_150 pb_120 centred">
            <div class="auto-container">
                <div class="sec-title mb_60">
                    <span class="sub-title">Pricing Plans</span>
                    <h2>Our Affordable Pricing </h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                        <div class="pricing-block-two" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">
                            <div class="pricing-table">
                                <div class="table-header mb_20">
                                    <h5>Personal Plan</h5>
                                    <p>For bloggers, freelancers & businesses</p>
                                    <h2>$29<span>/Month</span></h2>
                                </div>
                                <div class="btn-box mb_40">
                                    <a href="index-2.html">Choose Plan</a>
                                </div>
                                <div class="table-content">
                                    <ul class="feature-list clearfix">
                                        <li>Up to 10 Team Members</li>
                                        <li>Unlimited Usage</li>
                                        <li>Unlimited Drive Storage</li>
                                        <li>Concierge Help Center</li>
                                        <li>Smart Brand Personas</li>
                                        <li>Custom AI Brand Models</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                        <div class="pricing-block-two active-block" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="900">
                            <div class="pricing-table">
                                <div class="table-header mb_20">
                                    <h5>Business Plan</h5>
                                    <p>For bloggers, freelancers & businesses</p>
                                    <h2>$39<span>/Month</span></h2>
                                </div>
                                <div class="btn-box mb_40">
                                    <a href="index-2.html">Choose Plan</a>
                                </div>
                                <div class="table-content">
                                    <ul class="feature-list clearfix">
                                        <li>Up to 10 Team Members</li>
                                        <li>Unlimited Usage</li>
                                        <li>Unlimited Drive Storage</li>
                                        <li>Concierge Help Center</li>
                                        <li>Smart Brand Personas</li>
                                        <li>Custom AI Brand Models</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                        <div class="pricing-block-two" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1100">
                            <div class="pricing-table">
                                <div class="table-header mb_20">
                                    <h5>Advance Plan</h5>
                                    <p>For bloggers, freelancers & businesses</p>
                                    <h2>$59<span>/Month</span></h2>
                                </div>
                                <div class="btn-box mb_40">
                                    <a href="index-2.html">Choose Plan</a>
                                </div>
                                <div class="table-content">
                                    <ul class="feature-list clearfix">
                                        <li>Up to 10 Team Members</li>
                                        <li>Unlimited Usage</li>
                                        <li>Unlimited Drive Storage</li>
                                        <li>Concierge Help Center</li>
                                        <li>Smart Brand Personas</li>
                                        <li>Custom AI Brand Models</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing-style-two end -->


        <!-- cta-section -->
        <section class="cta-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="shape" style="background-image: url(assets/images/shape/shape-29.png);"></div>
                    <figure class="image-layer"><img src="assets/images/resource/cta-1.png" alt=""></figure>
                    <div class="content-box">
                        <div class="sec-title light mb_15">
                            <span class="sub-title two">Sign Up Now</span>
                            <h2>Imagine AI could Free</h2>
                        </div>
                        <div class="text-box">
                            <p>Dicta sunt explicabo. Nemo ipsu enim ipsam voluptatem quia voluptas sit aspernatur aut lorem ipsum in dolor.</p>
                            <a href="index.html" class="theme-btn btn-one"><span>Sign Up Free <i class="icon-7"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-section end -->


        <!-- faq-style-two -->
        <section class="faq-style-two home-2 about-page faq-dark-section pt_150 pb_150">
            <div class="auto-container">
                <div class="sec-title mb_60 centred">
                    <span class="sub-title">General Faqs</span>
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="inner-box">
                    <ul class="accordion-box">
                        <li class="accordion block active-block">
                            <div class="acc-btn active">
                                <div class="icon-box"></div>
                                <h5>Why does the pricing look different?</h5>
                            </div>
                            <div class="acc-content current">
                                <div class="text">
                                    <p>AI Content Generator Tool creates captivating content for a wide range of professional needs. From headlines to entire articles, you can generate just about any type of copy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-box"></div>
                                <h5>I am a nonprofit. Do you offer any discounts?</h5>
                            </div>
                            <div class="acc-content">
                                <div class="text">
                                    <p>AI Content Generator Tool creates captivating content for a wide range of professional needs. From headlines to entire articles, you can generate just about any type of copy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-box"></div>
                                <h5>What payment methods do you support?</h5>
                            </div>
                            <div class="acc-content">
                                <div class="text">
                                    <p>AI Content Generator Tool creates captivating content for a wide range of professional needs. From headlines to entire articles, you can generate just about any type of copy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-box"></div>
                                <h5>Can I upgrade to a different plan at a later time?</h5>
                            </div>
                            <div class="acc-content">
                                <div class="text">
                                    <p>AI Content Generator Tool creates captivating content for a wide range of professional needs. From headlines to entire articles, you can generate just about any type of copy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-box"></div>
                                <h5>What’s the cost of additional users?</h5>
                            </div>
                            <div class="acc-content">
                                <div class="text">
                                    <p>AI Content Generator Tool creates captivating content for a wide range of professional needs. From headlines to entire articles, you can generate just about any type of copy.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- faq-style-two end -->


        <!-- cta-style-two -->
        <section class="cta-style-two">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="shape" style="background-image: url(assets/images/shape/shape-9.png);"></div>
                    <div class="text-box">
                        <h2>Ready to take your content creation</h2>
                        <p>With our AI your the can makes the is never before seen images fores New Year any of copy.</p>
                    </div>
                    <div class="btn-box">
                        <a href="index-2.html" class="theme-btn btn-one"><span>Get Started</span></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-style-two end -->


        <!-- main-footer -->
        <footer class="main-footer style-two">
            <div class="auto-container">
                <div class="widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="index.html"><img src="assets/images/logo-3.png" alt=""></a></figure>
                                <p>Lorem ipsum dolor sit amet consectetu adipiscing elitsollicit udinodi netus quis ornare. Massa pharetra in nunc.</p>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="index.html"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="index.html"><i class="fa-brands fa-linkedin"></i></a></li>
                                    <li><a href="index.html"><i class="fa-brands fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget ml_50">
                                <div class="widget-title">
                                    <h3>Quick Link</h3> 
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="index.html">Case</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget ml_30">
                                <div class="widget-title">
                                    <h3>Usefull Links</h3> 
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="index.html">Privacy Policy</a></li>
                                        <li><a href="index.html">Terms & Condition</a></li>
                                        <li><a href="index.html">Support</a></li>
                                        <li><a href="index.html">Disclaimer</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact</h3> 
                                </div>
                                <div class="widget-content">
                                    <p>Tincidunt neque pretium lectus donec risus.</p>
                                    <ul class="contact-info clearfix">
                                        <li>
                                            <i class="icon-28"></i>
                                            New Hyde Park, NY 11040
                                        </li>
                                        <li>
                                            <i class="icon-29"></i>
                                            <a href="mailto:example@info.com">example@info.com</a>
                                        </li>
                                        <li>
                                            <i class="icon-30"></i>
                                            <a href="tel:3336660000">333 666 0000</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom centred">
                <p>Copyright &copy; 2023 <a href="index.html">Artiq</a>, Inc. All Rights Reserved</p>
            </div>
        </footer>
        <!-- main-footer end -->



        <!--Scroll to top-->
        <div class="scroll-to-top">
            <div>
                <div class="scroll-top-inner">
                    <div class="scroll-bar">
                        <div class="bar-inner"></div>
                    </div>
                    <div class="scroll-bar-text">Go To Top</div>
                </div>
            </div>
        </div>
        <!-- Scroll to top end -->
        
    </div>


    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/aos.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
